.version.___________ /* version checker */
{
	color: #0000F2;
	background-color: #F2CBFA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1059px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -2px;
}

#pu1950
{
	width: 0.01px;
	margin-left: -100px;
}

#u1950
{
	z-index: 3;
	padding-bottom: 8px;
}

#u1950_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2285-4
{
	z-index: 8;
	width: 98px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 100px;
}

#u2287-4
{
	z-index: 28;
	width: 159px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 207px;
}

#u2289-4
{
	z-index: 4;
	width: 123px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 386px;
}

#u2286-4
{
	z-index: 12;
	width: 83px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 531px;
}

#u2284-4
{
	z-index: 20;
	width: 126px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 934px;
}

#u1950-bw
{
	z-index: 3;
	height: 83px;
}

#u2283-4
{
	z-index: 16;
	width: 161px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 609px;
}

#u2288-4
{
	z-index: 24;
	width: 168px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 793px;
}

#u2155-4
{
	z-index: 33;
	min-height: 62px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #1B1464;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u2155-4-bw
{
	z-index: 33;
	min-height: 62px;
	margin-top: 85px;
	height: 62px;
}

#pu2157
{
	width: 0.01px;
	margin-top: 89px;
}

#u2157
{
	z-index: 32;
	width: 443px;
	-pie-box-shadow: 6px 6px 8px #D8D8D8;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.15);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
	border-style: none;
	border-color: transparent;
	background-color: #E8E8E8;
	-moz-border-radius: 20px 20px 0px 20px ;
	-webkit-border-radius: 20px 20px 0px 20px ;
	-khtml-border-radius: 20px 20px 0px 20px ;
	border-radius: 20px 20px 0px 20px ;
	position: relative;
	margin-right: -10000px;
}

#u2157_position_content
{
	padding-top: 43px;
	padding-bottom: 47px;
}

#u2156-4
{
	z-index: 37;
	width: 376px;
	min-height: 83px;
	background-color: transparent;
	font-size: 16px;
	color: #1B1464;
	line-height: 26px;
	letter-spacing: 1px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 41px;
	position: relative;
}

#u2173-6
{
	z-index: 41;
	width: 345px;
	min-height: 83px;
	background-color: transparent;
	font-size: 16px;
	color: #1B1464;
	line-height: 26px;
	letter-spacing: 1px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 42px;
	margin-top: 20px;
	position: relative;
}

#u2176-7
{
	z-index: 47;
	width: 455px;
	min-height: 83px;
	background-color: transparent;
	font-size: 16px;
	color: #1B1464;
	line-height: 26px;
	letter-spacing: 1px;
	text-align: left;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 42px;
	margin-top: 19px;
	position: relative;
}

#u2180
{
	z-index: 54;
	width: 440px;
	-pie-box-shadow: 6px 6px 8px #D8D8D8;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.15);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
	border-width: 3px;
	border-style: solid;
	border-color: #E8E8E8;
	background-color: #FFFFFF;
	-moz-border-radius: 20px 20px 20px 0px ;
	-webkit-border-radius: 20px 20px 20px 0px ;
	-khtml-border-radius: 20px 20px 20px 0px ;
	border-radius: 20px 20px 20px 0px ;
	padding-bottom: 15px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 516px;
}

#u2174
{
	z-index: 55;
	width: 411px;
	min-height: 345px;
	border-color: #CC7E22;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 14px;
}

#u1958
{
	z-index: 2;
	height: 123px;
}

#u1958-bw
{
	z-index: 2;
	margin-top: 155px;
	height: 123px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

