.version._________________________ /* version checker */
{
	color: #0000F0;
	background-color: #FCC174;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1059px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -2px;
}

#pu1950
{
	width: 0.01px;
	margin-left: -100px;
}

#u1950
{
	z-index: 5;
	padding-bottom: 8px;
}

#u1950_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u2285-4
{
	z-index: 10;
	width: 98px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 100px;
}

#u2287-4
{
	z-index: 30;
	width: 159px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 207px;
}

#u2289-4
{
	z-index: 6;
	width: 123px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 386px;
}

#u2286-4
{
	z-index: 14;
	width: 83px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 531px;
}

#u2284-4
{
	z-index: 22;
	width: 126px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 934px;
}

#u1950-bw
{
	z-index: 5;
	height: 83px;
}

#u2283-4
{
	z-index: 18;
	width: 161px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 609px;
}

#u2288-4
{
	z-index: 26;
	width: 168px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 793px;
}

#u2199-4
{
	z-index: 34;
	min-height: 62px;
	background-color: transparent;
	line-height: 48px;
	font-size: 40px;
	color: #1B1464;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u2199-4-bw
{
	z-index: 34;
	min-height: 62px;
	margin-top: 70px;
	height: 62px;
}

#ppu2242
{
	width: 0.01px;
	margin-left: -43px;
	margin-top: -7px;
}

#pu2242
{
	z-index: 41;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 68px;
}

#u2242
{
	z-index: 0;
	width: 906px;
	border-style: none;
	border-color: transparent;
	opacity: 0.12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=12)";
	filter: alpha(opacity=12);
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("../images/map1.jpg") no-repeat center top;
	background-size: cover;
}

#pu2261
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 110px;
	z-index: 2;
	padding-bottom: 19px;
}

#u2261
{
	z-index: 62;
	width: 185px;
	background-color: transparent;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u2201-16
{
	z-index: 46;
	width: 569px;
	min-height: 45px;
	background-color: transparent;
	color: #1B1464;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 217px;
}

#u2201-4
{
	font-size: 18px;
}

#u2201-2,#u2201-3,#u2201-6,#u2201-7,#u2201-9,#u2201-10,#u2201-12
{
	font-size: 18px;
	line-height: 22px;
}

#u2201-13,#u2201-14
{
	font-size: 16px;
	line-height: 19px;
}

#u2218
{
	z-index: 3;
	width: 945px;
	height: 57px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 545px;
	left: 43px;
	background: #FFFFFF url("../images/wave4.png") no-repeat left top;
}

#u2222
{
	z-index: 4;
	width: 949px;
	height: 54px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
	background: transparent url("../images/wave3.png") no-repeat center bottom;
}

#u2229
{
	z-index: 38;
	width: 911px;
	height: 503px;
	border-style: none;
	border-color: transparent;
	background-color: #FCE559;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 68px;
}

#u2230
{
	z-index: 39;
	width: 68px;
	height: 547px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 961px;
	background: transparent url("../images/wave44.png") no-repeat left top;
}

#u2237
{
	z-index: 40;
	width: 68px;
	height: 562px;
	border-style: none;
	border-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,68,562);
	-ms-transform: matrix(-1,0,0,-1,68,562);
	-o-transform: matrix(-1,0,0,-1,68,562);
	transform: matrix(-1,0,0,-1,68,562);
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	background: transparent url("../images/wave44.png") no-repeat left top;
}

#u2200-4
{
	z-index: 42;
	width: 911px;
	min-height: 45px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #1B1464;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 69px;
}

#u2200
{
	font-size: 24px;
}

#u1958
{
	z-index: 2;
	height: 123px;
}

#u1958-bw
{
	z-index: 2;
	margin-top: 156px;
	height: 123px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

