.review
{
	font-family: bubblegum-sans-n4, sans-serif;
}

#u2285-4,#u2287-4,#u2289-4,#u2286-4,#u2284-4,#u2283-4,#u2288-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2072-4,#u1970-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1971-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u1975-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1973-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u1963-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1964-4
{
	font-family: ubuntu-i3, sans-serif;
}

#u2023-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2022-4
{
	font-family: ubuntu-i3, sans-serif;
}

#widgetu1968_input,#widgetu1968_prompt,#widgetu1972_input,#widgetu1972_prompt,#widgetu1962_input,#widgetu1962_prompt,#widgetu2021_input,#widgetu2021_prompt
{
	font-family: ubuntu, sans-serif;
}

#u2116-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2153-7
{
	font-family: ubuntu-n3, sans-serif;
}

