.review
{
	font-family: bubblegum-sans-n4, sans-serif;
}

#u1927-4,#u1925-4,#u1921-4,#u1922-4,#u1923-4,#u2276-4,#u1924-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u167-6,#u174-4,#u211-11,#u158-4,#u106-4,#u159-4,#u160-4,#u181-4,#u471-4,#u1874-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u228-4,#u256-4,#u265-4,#u317-4,#u318-4,#u215-4,#u441-11,#u449-4,#u465-9,#u553-4,#u554-6,#u556-4,#u575-8,#u576-4,#u589-5,#u440-4,#u468-4,#u458-6,#u462-4,#u466-4,#u406-4,#u801-8,#u873-11,#u807-4,#u865-4,#u878-5,#u1029-5,#u1042-9,#u1054-11,#u1075-11,#u1175-4,#u1205-4,#u1196-4,#u1529-4,#u1530-4,#u1528-4,#u1522-4,#u1524-4,#u1520-4,#u1538-4,#u1539-4,#u1540-4,#u1595-4,#u1596-4,#u1554-4,#u1615-4,#u1616-4,#u1555-4,#u546-4,#u734-4,#u764-4,#u765-4,#u1007-4,#u1220-4,#u1221-6,#u1253-5,#u1504-4,#u1618-4,#u1626-4,#u1628-4,#u1630-4,#u1632-4,#u1733-4,#u1617-4,#u1634-4,#u1743-4,#u1744-4,#u1768-4,#u1769-4,#u1771-4,#u1732-4,#u1791-6,#u1745-6,#u1784-4
{
	font-family: ubuntu-n3, sans-serif;
}

